[
    #{
        filter => "*.erl",
        dirs => ["src/**"],
        rules =>
            [
                %% Keep
                {elvis_style, no_macros, disable},
                {elvis_style, state_record_and_type, #{
                    ignore => [
                        quic_dist_controller,
                        quic_dist_nat,
                        quic_dist_tickets,
                        quic_listener,
                        quic_listener_manager,
                        quic_server_registry,
                        quic_connection
                    ]
                }},
                {elvis_style, private_data_types, #{
                    ignore => [quic_keys, quic_loss, quic_packet, quic_ticket, quic_lb]
                }},
                {elvis_style, no_receive_without_timeout, #{
                    ignore => [quic_dist, quic_dist_controller, quic_interop_server]
                }},
                {elvis_style, no_debug_call, #{
                    ignore => [quic_interop_client, quic_interop_server]
                }},
                {elvis_style, atom_naming_convention, #{
                    % public_key record field names need this
                    ignore => [quic_dist],
                    regex => "^[a-z](_?[a-zA-Z0-9]+)*(_SUITE)?$"
                }},
                %% Since OTP28
                {elvis_style, prefer_strict_generators, disable},
                %% Disable rules that are too strict for this codebase
                {elvis_style, no_common_caveats_call, disable},
                {elvis_style, no_init_lists, disable},
                {elvis_style, no_spec_with_records, disable},
                {elvis_style, param_pattern_matching, disable},
                {elvis_style, no_used_ignored_variables, disable},
                {elvis_text_style, line_length, #{limit => 120}},
                {elvis_style, no_if_expression, #{
                    ignore => [quic_discovery_dns, quic_stream, quic_connection]
                }},
                {elvis_style, no_deep_nesting, #{
                    ignore => [quic_listener, quic_interop_client, quic_connection]
                }},
                {elvis_style, variable_naming_convention, #{ignore => [quic_tls]}},
                {elvis_style, variable_casing, #{ignore => [quic_tls, quic_connection]}},
                %% TODO: Per-module ignores; to be fixed later
                {elvis_style, dont_repeat_yourself, #{
                    ignore => [
                        quic_connection,
                        quic_cc,
                        quic_loss,
                        quic_aead,
                        quic_dist_controller,
                        quic_packet,
                        quic_interop_client,
                        quic_tls
                    ]
                }},
                {elvis_style, max_function_length, #{
                    ignore =>
                        [
                            quic_ack,
                            quic_cc,
                            quic_connection,
                            quic_dist,
                            quic_dist_controller,
                            quic_dist_nat,
                            quic_frame,
                            quic_interop_client,
                            quic_lb,
                            quic_listener,
                            quic_loss,
                            quic_packet,
                            quic_stream,
                            quic_sup,
                            quic_tls
                        ]
                }},
                {elvis_style, no_god_modules, #{
                    ignore => [quic, quic_connection, quic_crypto, quic_stream]
                }},
                {elvis_style, max_function_clause_length, #{
                    ignore =>
                        [
                            quic_ack,
                            quic_cc,
                            quic_connection,
                            quic_dist,
                            quic_dist_controller,
                            quic_interop_client,
                            quic_lb,
                            quic_listener,
                            quic_packet,
                            quic_stream,
                            quic_sup,
                            quic_tls,
                            quic_loss
                        ]
                }},
                {elvis_style, max_module_length, #{
                    ignore => [
                        quic_connection,
                        quic_dist,
                        quic_dist_controller,
                        quic_interop_client,
                        quic_tls
                    ]
                }},
                {elvis_style, max_record_fields, #{ignore => [quic_connection]}},
                {elvis_style, no_catch_expressions, #{
                    ignore => [quic_dist, quic_dist_nat]
                }},
                {elvis_style, simplify_anonymous_functions, #{
                    ignore => [quic_dist]
                }},
                {elvis_style, no_invalid_dynamic_calls, #{
                    ignore => [quic_dist]
                }}
            ],
        ruleset => erl_files_strict
    },
    #{
        filter => "*.hrl",
        dirs => ["include"],
        ruleset => hrl_files
    },
    #{
        filter => "rebar.config",
        dirs => ["."],
        ruleset => rebar_config
    }
].
